<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!--/* マイページ等のボタン一覧。以前はbtn w-100で横幅いっぱいのボタンを縦に並べていたが、
           row-colsによるグリッドでカード状に整列させ、ボタン幅もラベルに応じた自然な大きさにする */-->
    <div th:fragment="body" th:if="${account.get(0).ACCNT_ID != '1000001'}" class="1000301">
        <div class="row row-cols-1 row-cols-md-2 g-3 m-2">
            <div class="col" th:each="link : ${T(com.freedom.taskall_v2.web.util.HtmlPageItemUtil).findRecords(htmlPage, 'linkList')}">
                <a class="btn btn-outline-primary w-100 py-3"
                   th:href="${link.IS_POST == '0'} ? ${link.URI_PATTERN} : 'javascript:void(0);'"
                   th:onclick="${link.IS_POST == '0'} ? null : 'submitMainForm()'"
                   th:text="${link.LNK_NAME}">Link</a>
            </div>
        </div>
    </div>
</body>
</html>
