<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="body" class="1000401">
        <div class="p-2">
            <table>
                <tbody>
                    <tr th:each="table : ${T(com.freedom.taskall_v2.web.util.HtmlPageItemUtil).findRecords(htmlPage, 'tableList')}">
                        <td class="px-2 py-1"
                            th:text="${table.TABLE_LOGICAL_NAME + '(' + table.TABLE_NAME + ')'}">table</td>
                        <td class="px-2 py-1">
                            <a class="btn btn-primary px-4 py-2"
                               th:href="${table.TABLE_DEF_REF_URL}"
                               target="_blank" rel="noopener noreferrer">定義参照</a>
                        </td>
                        <td class="px-2 py-1">
                            <a class="btn btn-primary px-4 py-2"
                               th:href="${table.TABLE_DATA_MAINTE_URL}">データ編集</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
